<div id="generalform">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<br />
  <div class="field">
    <%= f.label :username %><%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label "Full Name" %><%= f.text_field :fullname %>
  </div>
  <div class="field">
    <%= f.label :email %><%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.text_area :bio, :class=>"input-xlarge", :placeholder=>"Bio", :rows=>"3" %>
  </div>
  <div class="field">
    <%= f.label :degree %><%= f.text_field :degree %>
  </div>

  <div class="controls">
	<%= f.label "Twitter page" %>
    <div class="input-prepend">
      <span class="add-on">@</span><%= f.text_field :twitter %>
    </div>
  </div>

  <div class="field">
    <%= f.label "Facebook page" %><%= f.text_field :facebook %>
  </div>
  <div class="field">
    <%= f.label "LinkedIn page" %><%= f.text_field :linkedin %>
  </div>
  <div class="field">
    <%= f.label "Google+ page" %><%= f.text_field :googleplus %>
  </div>
  <% if @current_user && @current_user.admin %>
  <div class="field">
    <%= f.label :member %><%= f.check_box :member %>
  </div>
  <div class="field">
    <%= f.label :officer %><%= f.check_box :officer %>
  </div>
  <div class="field">
    <%= f.label "Officer Title" %><%= f.text_field :officertitle %>
  </div>
  <div class="field">
    <%= f.label :publisher %><%= f.check_box :publisher %>
  </div>
  <div class="field">
    <%= f.label :admin %><%= f.check_box :admin %>
  </div>
  <% end %>

  <!-- <div>
    <p><%= f.submit "Update", :class=>"btn  btn-primary btn-large" %></p>
  </div> -->
  <div><br />
    <p><%= f.submit :class=> "btn btn-primary" %> <a href="<%= "/" + @current_user.username %>" class="btn default"> Cancel</a> <%=link_to "change password", "/users/password" %></p>
  </div>


<% end %>
</div>