<h1>Editing Profile</h1>

<%= gravatar_image_tag @user.email, :class => "gravatar" rescue ""%> <%= link_to "Update Image", "http://gravatar.com"%>

<%= render 'profile' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
