<br/><p id="notice"><%= notice %></p>
<%= link_to image_tag("rss.png", :width=>"50", :align=>"right"), "/feed.rss"%>
<h1>Your activity and the People You Follow </h1>
<%= link_to raw("&larr; View all activity"), "/activity" %>
<br />
<%= render 'statuses/statusbar' %>

<%= javascript_tag do -%>
$(document).ready(
  function(){
    setInterval(function(){
      $.ajax({
        url: "/users/pollfeed",
        type: "GET",
        dataType: "script"
    });
  }, 10000 );
});
<% end -%>


<% if !@activities.nil?%>
<div id="statuses">

	<%= render 'feed' %>

	<!-- <br /> -->
	<!-- <p><center><div class="pager"><%= will_paginate @activities, :page_links => false %></div></center></p>
	<br /><br/><br/> -->


</div>

<a style="display:scroll;position:fixed;bottom:5px;right:5px;" href="#" title="Back to Top"><img src="/assets/up_arrow25.png" width="25"/></a>

<br /><br/><br/>
<div id="scrollpage" style="display:none;"><%=@page%></div>
<div id="scrollactive" style="display:none;">false</div>

<script>
	$(window).scroll(function(){
	        if  ($(window).scrollTop()+200 >= ($(document).height() - ($(window).height()))){

				if ($('#scrollactive').html() == 'false') { // IMPORTANT - Keeps the loader from fetching more than once.
					$('#scrollactive').html("true");
					$.getScript('/activity?page=' + $('#scrollpage').html()); return false;
				}

	        }
	});
</script>
<% end %>