<div class="hero-unit">
<% if @search %>
<h1>Search for <i><%=params[:username]%></i></h1>
<% else %>
<h1>Knights in Council <%= @current_user.council.councilnumber %></h1>
<% end %>

<p>
	<table class="table table-striped">
		<thead>
	    <th>Username</th>
		<% if @search %>
		<th>Council</th>
		<% end %>
	    <th>Officer?</th>
	    <th>Social Networks</th>
		<% if @current_user && @current_user.admin %>
		    <th>Member</th>
		    <th>Officer</th>
		    <th>Publisher</th>
		    <th>Admin</th>
		    <th></th>
		<% elsif @current_user && @current_user.member %>
			<th>Status</th>  
		<% end %>
	  </thead>
	  

	<% @users.each do |user| %>
	  <tr>
	    <!-- <td><%= gravatar_image_tag user.email, :class => "gravatar", :width => "25" %> <%= link_to user.username.capitalize, user_path(user) rescue ""%></td> -->
	    <td>
			<% if !user.photo.blank? %>	
				<img src="<%= user.photo rescue "" %>" style="width:25px; height: 25px;"/>
			<% else %>
				<img src="http://avatars.io/auto/<%=user.username%>" width="25" height="25" >
			<% end %>
		
			<!-- <img src="http://avatars.io/auto/<%=user.username%>" width="25">  -->
			<%= link_to user.username.capitalize , '/' + user.username rescue ""%>	
			<%= ' (' + user.fullname + ')' rescue ""%>
		</td>
		
		<% if @search %>
		<td><%= user.council.councilnumber%></td>
		<% end %>		

	    <td><%= user.officertitle %></td>
		<td>
			<% if !user.twitter.blank? %>
				<%= link_to image_tag("twitter1.png", :width => "25"), "http://twitter.com/" + user.twitter, :target=>"_new"%>
			<% end %>
			<% if !user.facebook.blank? %>
				<%= link_to image_tag("facebook.png", :width => "25"), user.facebook, :target=>"_new"%>
			<% end %>
			<% if !user.linkedin.blank? %>
				<%= link_to image_tag("linkedin.png", :width => "25"), user.linkedin, :target=>"_new"%>
			<% end %>
			<% if !user.googleplus.blank? %>
				<%= link_to image_tag("google_plus_150x150.png", :width => "27"), user.googleplus, :target=>"_new"%>
			<% end %>
		</td>
		
		<% if @current_user && @current_user.admin %>
		    <td><%= user.member %></td>
		    <td><%= user.officer %></td>
		    <td><%= user.publisher %></td>
		    <td><%= user.admin %></td>
		    <td><%= link_to 'Show', '/' + user.username %> 
		    <%= link_to 'Edit', '/' + user.username + '/edit' %>
		    <%= link_to 'Destroy', user, :data => { :confirm => 'Are you sure?' }, :method => :delete %></td>
		<% elsif @current_user && @current_user.member %>
			<% status = "" %>
			<% if user.offider %>
				<% status = "officer" %>
			<% elsif user.member %>
				<% status = "member" %>
			<% end %>
			<td><%= status %></td>
		<% end %>
		
		
	  </tr>
	<% end %>
	</table>
	
</p>

<br />
<% if @current_user && @current_user.admin %>
<%= link_to 'New User', new_user_path %>
<% end %>
</div>