<% if @search %>
<h1>Search for <i><%=params[:username]%></i></h1>
<% else %>
<h1>Knights in Council <%= @current_user.council.councilnumber %></h1>
<% end %>

<p>
	<table class="table table-striped">
		<thead>
	    <th>Username</th>
		<% if @search %>
		<th>Council</th>
		<% end %>
	    <th>Officer?</th>
	    <th>Social Networks</th>
		<% if @current_user && @current_user.admin %>
		    <th>Mbr</th>
		    <th>Ofcr</th>
		    <th>Pub</th>
		    <th>Admin</th>
		    <th></th>
		<% elsif @current_user && @current_user.member %>
			<th>Status</th>  
		<% end %>
	  </thead>
	  

	<% @users.each do |user| %>
	  <tr>
	    <!-- <td><%= gravatar_image_tag user.email, :class => "gravatar", :width => "25" %> <%= link_to user.username.capitalize, user_path(user) rescue ""%></td> -->
	    <td>
			<img src="http://avatars.io/auto/<%=user.username%>" width="25"> 
			<%= link_to user.username.capitalize + ' (' + user.fullname + ')', user_path(user) rescue ""%>			
		</td>
		
		<% if @search %>
		<td><%= user.council.councilnumber%></td>
		<% end %>		

	    <td><%= user.officertitle %></td>
		<td>
			<% if !user.twitter.blank? %>
				<%= link_to image_tag("/images/twitter1.png", :width => "25"), "http://twitter.com/" + user.twitter%>
			<% end %>
			<% if !user.facebook.blank? %>
				<%= link_to image_tag("/images/facebook.png", :width => "25"), user.facebook%>
			<% end %>
			<% if !user.linkedin.blank? %>
				<%= link_to image_tag("/images/linkedin.png", :width => "25"), user.linkedin%>
			<% end %>
			<% if !user.googleplus.blank? %>
				<%= link_to image_tag("/images/google_plus_150x150.png", :width => "27"), user.googleplus%>
			<% end %>
		</td>
		
		<% if @current_user && @current_user.admin %>
		    <td><%= user.member %></td>
		    <td><%= user.officer %></td>
		    <td><%= user.publisher %></td>
		    <td><%= user.admin %></td>
		    <td><%= link_to 'Show', user %> 
		    <%= link_to 'Edit', edit_user_path(user) %>
		    <%= link_to 'Destroy', user, :data => { :confirm => 'Are you sure?' }, :method => :delete %></td>
		<% elsif @current_user && @current_user.member %>
			<% status = "" %>
			<% if user.offider %>
				<% status = "officer" %>
			<% elsif user.member %>
				<% status = "member" %>
			<% end %>
			<td><%= status %></td>
		<% end %>
		
		
	  </tr>
	<% end %>
	</table>
	
</p>

<br />
<% if @current_user && @current_user.admin %>
<%= link_to 'New User', new_user_path %>
<% end %>