<div id="generalform">
<%= form_for(@council) do |f| %>
  <% if @council.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@council.errors.count, "error") %> prohibited this council from being saved:</h2>

      <ul>
      <% @council.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :councilname %><%= f.text_field :councilname, :class=>"input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :councilnumber %><%= f.text_field :councilnumber, :class=>"input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :twitterurl %><%= f.text_field :twitterurl, :class=>"input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :facebookurl %><%= f.text_field :facebookurl, :class=>"input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :linkedinurl %><%= f.text_field :linkedinurl, :class=>"input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :googleplusurl %><%= f.text_field :googleplusurl, :class=>"input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :mobileurl %><%= f.text_field :mobileurl, :class=>"input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :email %><%= f.text_field :email, :class=>"input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :posterousurl %><%= f.text_field :posterousurl, :class=>"input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :calendarurl %><%= f.text_field :calendarurl, :class=>"input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :newsurl %><%= f.text_field :newsurl, :class=>"input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :about %><%= f.text_area :about, :class=>"input-xxlarge" %>
  </div>
  <div>
    <p><%= f.submit "Submit", :class=>"btn  btn-primary btn-large" %></p>
  </div>
<% end %>
</div>