<h1>Listing Councils</h1><br />

<table class="table table-striped">
  <tr>
    <th>Councilname</th>
    <th>Councilnumber</th>
    <th>Twitterurl</th>
    <th>Facebookurl</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @councils.each do |council| %>
  <tr>
    <td><%= council.councilname %></td>
    <td><%= council.councilnumber %></td>
    <td><%= council.twitterurl %></td>
    <td><%= council.facebookurl %></td>
    <td><%= council.email %></td>
    <td><%= link_to 'Show', council %></td>
    <td><%= link_to 'Edit', edit_council_path(council) %></td>
    <td><%= link_to 'Destroy', council, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% if @current_user.id == 1 %>
<%= link_to 'New Council', new_council_path %>
<% end %>