<div class="hero-unit">
	<p id="notice"><%= notice %></p>

<p>
  <b>Councilname:</b>
  <%= @council.councilname %>
</p>

<p>
  <b>Councilnumber:</b>
  <%= @council.councilnumber %>
</p>


<p>
  <b>Email:</b>
  <%= @council.email %>
</p>

<p>
  <b>State Website:</b>
  <%= @council.stateurl %>
</p>

<p>
  <b>Posterousurl:</b>
  <%= @council.posterousurl %>
</p>

<p>
  <b>Calendarurl:</b>
  <%= @council.calendarurl %>
</p>

<p>
  <b>About:</b>
  <%= @council.about %>
</p>
<p>
  <b>Twitterurl:</b>
  <%= @council.twitterurl %>
</p>

<p>
  <b>Facebookurl:</b>
  <%= @council.facebookurl %>
</p>

<p>
  <b>Linkedinurl:</b>
  <%= @council.linkedinurl %>
</p>

<p>
  <b>Googleplusurl:</b>
  <%= @council.googleplusurl %>
</p>



<%= link_to 'Edit', edit_council_path(@council) %> |
<%= link_to 'Back', councils_path %>

</div>