<div class="hero-unit">
	<h1>Our Sponsors</h1><br />

<table class="table table-striped">

<% @sponsors.each do |sponsor| %>
  <tr>
    <td><a href="<%= sponsor.url %>"><%= sponsor.sponsorname %></a></td>
    <td><%= sponsor.description %></td>
    <td>
<% if @current_user && @current_user.publisher %>
	<%= link_to 'Show', sponsor %> | 
    <%= link_to 'Edit', edit_sponsor_path(sponsor) %> | 
    <%= link_to 'Destroy', sponsor, confirm: 'Are you sure?', method: :delete %>
<% end %>
</td>
  </tr>
<% end %>
</table>

<br />

<% if @current_user && @current_user.publisher %>
	<%= link_to 'New Sponsor', new_sponsor_path %>
<% end %>
</div>