<h1><%=@council.councilname%></h1>
<h2><a href="#officers">Council Officers</a> | <a href="http://www.azknightsofcolumbus.com">State Council</a></h2><br />

<p class="well">
	The <%= link_to "Knights of Columbus", "http://kofc.org"%> is a Catholic fraternity for men totaling over 1.8M members worldwide. 
	This site is for the <%=@council.councilname%>.
</p>
<p><%=@council.about%></p><br />
<p><a class="btn btn-primary btn-large" href="/join">Join Us! &raquo;</a></p>

<a name="officers"></a>
<h2>Council Officers</h2>
<p>
	<table class="table table-striped">
		<thead>
	    <th>Username</th>
	    <th>Officer Title</th>
	    <th>Social Networks</th>
	  </thead>
	  

	<% @users.each do |user| %>
	  <tr>
	    <td><%= gravatar_image_tag user.email, :class => "gravatar", :width => "25" %> <%= link_to user.username.capitalize, user_path(user) rescue ""%></td>
	    <td><%= user.officertitle %></td>
		<td>
			<% if !user.twitter.blank? %>
				<%= link_to image_tag("/images/twitter1.png", :width => "25"), "http://twitter.com/" + user.twitter%>
			<% end %>
			<% if !user.facebook.blank? %>
				<%= link_to image_tag("/images/facebook.png", :width => "25"), user.facebook%>
			<% end %>
			<% if !user.linkedin.blank? %>
				<%= link_to image_tag("/images/linkedin.png", :width => "25"), user.linkedin%>
			<% end %>
			<% if !user.googleplus.blank? %>
				<%= link_to image_tag("/images/google_plus_150x150.png", :width => "27"), user.googleplus%>
			<% end %>
		</td>
	  </tr>
	<% end %>
	</table>
	
</p>

