<div class="hero-unit">
<h1><%=@council.councilname rescue "VivatJes.us" %></h1>
<h2><a href="#officers">Council Officers</a> | <%= link_to "State Council", @council.stateurl rescue ""%></h2><br />

<p class="well">
	The <%= link_to "Knights of Columbus", "http://kofc.org"%> is a Catholic fraternity for men totaling over 1.8M members worldwide. 
	This site is for the <%=@council.councilname  rescue "VivatJes.us Social Network" %>.
</p>
<p><%=@council.about rescue 'VivatJes.us, meaning Jesus Lives!, is developed by <a href="http://twitter.com/chrismatthieu">Chris Matthieu</a>, a Fourth Degree Knight and Officer in Council 10062.  The mission of this site is to provide free hosting to councils and in the process create a social network for fellow Knights to achieve their goals.'%></p><br />
<p><a class="btn btn-primary btn-large" href="/join">Join Us! &raquo;</a></p>

<% if @users %>
<a name="officers"></a>
<h2>Council Officers</h2>
<p>
	<table class="table table-striped">
		<thead>
	    <th>Username</th>
	    <th>Officer Title</th>
	    <th>Social Networks</th>
	  </thead>
	  

	<% @users.each do |user| %>
	  <tr>
	    <td>
			<%# gravatar_image_tag user.email, :class => "gravatar", :width => "25" %> 
			<img src="http://avatars.io/auto/<%=user.username%>" width="25" height="25">
			<%= link_to user.username.capitalize, '/' + user.username rescue ""%></td>
	    <td><%= user.officertitle %></td>
		<td>
			<% if !user.twitter.blank? %>
				<%= link_to image_tag("twitter1.png", :width => "25"), "http://twitter.com/" + user.twitter, :target=>"_new"%>
			<% end %>
			<% if !user.facebook.blank? %>
				<%= link_to image_tag("facebook.png", :width => "25"), user.facebook, :target=>"_new"%>
			<% end %>
			<% if !user.linkedin.blank? %>
				<%= link_to image_tag("linkedin.png", :width => "25"), user.linkedin, :target=>"_new"%>
			<% end %>
			<% if !user.googleplus.blank? %>
				<%= link_to image_tag("google_plus_150x150.png", :width => "27"), user.googleplus, :target=>"_new"%>
			<% end %>
		</td>
	  </tr>
	<% end %>
	</table>
	
</p>
<% end %>

<h2>Contact Us</h2>

<div id="contact">
	<br />
	<%= form_tag :controller=>"pages", :action=>"contact" do -%>
    <fieldset>

    <label for="fullname">Name:<br/>
    <%= text_field("contact", "fullname", :class => "input input-xxlarge") -%>
    </label>
    <label for="emailaddress" class="margin">Email:<br/>
    <%= text_field("contact", "emailaddress", :class => "input input-xxlarge") -%>
    </label>
    <label for="message">Message:<br />
    <%= text_area("contact", "message", {"cols"=>"80", "rows"=>"4", "class"=>"input input-xxlarge"}) -%>
    </label>
    </fieldset>
		<% math1 = 1 + rand(10) %>
		<% math2 = 1 + rand(10) %>
		<% mathanswer = math1 + math2 %>
    <!-- <label for="message">Are you human?<br/>What's <%=math1%> + <%=math2%>?
    <%# text_field("contact", "answer") -%></label> -->
    <%= hidden_field("contact", "answer", :value => mathanswer) -%>
    <%= hidden_field("contact", "mathanswer", :value => mathanswer) -%>
    <p><%= submit_tag "Send", :class=>"btn  btn-primary btn-large" -%></p>

	<% end -%>
</div>

</div>