<h1>Corpus Christi Knights of Columbus 10062 - <a href="#officers">Officers</a></h1>

<p>
	The <%= link_to "Knights of Columbus", "http://kofc.org"%> is a Catholic fraternity for men totaling over 1.8M members worldwide. 
	This site is for the <%= link_to "Corpus Christi Catholic Church", "http://www.corpuschristiphx.org/"%> Knights of Columbus Council 10062.
</p>
<p>
	Council meetings occur on the first Thursday of each month at 7:00 PM in rooms 5 and 6 at Corpus Christi Catholic Church in Ahwatukee in Phoenix, AZ on Knox and 36th Street. 
	They are 1 hour to discuss busines items and 1 hour for social gathering. All knights are encouraged to attend at least 3 meetings a year. 
	There are many activities that occur throughout the year for the Corpus Christi Council including Pancake Breakfast, Golf Tournament, and PIDD just to name a few. 
	Monies raised from these events help the local community. 
</p>
<p>
	Vivat Jesus!
</p>
<a name="officers"></a>
<h2>Council Officers</h2>
<p>
	<table>

	<% @users.each do |user| %>
	  <tr>
	    <td><%= link_to user.username.capitalize, user_path(user) rescue ""%></td>
	    <td><%= user.officertitle %></td>
		<td>
			<% if user.twitter %>
				<%= link_to image_tag("/images/twitter1.png", :width => "25"), "http://twitter.com/" + user.twitter%>
			<% end %>
			<% if user.facebook %>
				<%= link_to image_tag("/images/facebook.png", :width => "25"), user.facebook%>
			<% end %>
			<% if user.linkedin %>
				<%= link_to image_tag("/images/linkedin.png", :width => "25"), user.linkedin%>
			<% end %>
			<% if user.googleplus %>
				<%= link_to image_tag("/images/google_plus_150x150.png", :width => "27"), user.googleplus%>
			<% end %>
		</td>
	  </tr>
	<% end %>
	</table>
	
</p>

