<div class="hero-unit">
<div class="row-fluid">
	<h2><%=@council.councilname%></h2><br />
  	<div class="span8">
	    <p><%=@council.about%></p><br /><br />
	  	<p><a class="btn btn-primary btn-large" href="/about">Learn more &raquo;</a></p>
	</div>
	<!div class="span4">
		
		<p class="pull-right">
		<a href="<%=@council.facebookurl%>"><%=image_tag "/images/facebook.png", :width => "100"%></a>
		<a href="<%=@council.linkedinurl%>"><%=image_tag "/images/linkedin.png", :width => "100"%></a>
		<a href="<%=@council.twitterurl%>"><%=image_tag "/images/twitter1.png", :width => "100"%></a>
        <a href="<%=@council.mobileurl%>"><%=image_tag "/images/mobile.png", :width => "100"%></a>
        <!-- <li class="last"><a href="/posts/rss"><%=image_tag "/images/rss.gif"%></a></li> -->
      </p>
	<!/div>
</div>
</div>


<!-- close hero div and open generic div -->
<div class="hero-unit"> 
	
<% if @post %>
<h2>
<p class="well">
<%# gravatar_image_tag @post.user.email, :class => "gravatar", :width => "25" %> 
<img src="http://avatars.io/auto/<%=@post.user.username%>" width="25" height="25">
<a href="/posts/<%= @post.id.to_s rescue ""%>"><%= @post.postname rescue ""%></a> 
</p>
</h2>

<p>
<%= raw(@post.postbody) rescue ""%>
</p>
<a href="http://twitter.com/share?text=<%= @post.postname rescue ""%>&amp;url=http://vivatjes.us/posts/<%=@post.id%>" class="twitter-share-button">Tweet</a>
	
<!-- Place this tag where you want the +1 button to render -->
<g:plusone href="http://vivatjes.us/posts/<%=@post.id%>"></g:plusone>

<!--  Place this tag after the last plusone tag -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
	
<br />	
<div class="fb-like" data-href="http://vivatjes.us/posts/<%=@post.id%>" data-send="false" data-width="450" data-show-faces="true"></div>
	
<% end %>
<br class="clear" />

</div>


