<!DOCTYPE html>
<head>
<title>Vivat Jesus!</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />
<%= stylesheet_link_tag "layout" %>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
</head>
<body id="top">
<div class="wrapper col1">
	<p align="right"><% if @current_user %>
		<%= gravatar_image_tag @current_user.email, :class => "gravatar", :width => "15" %> <%= @current_user.username.capitalize %> | 

		<% if @current_user %>
			<%= link_to 'profile', user_path(@current_user) %> |
		<% end %>

		<%= link_to 'logout', '/logout' %>

	<% else %>
		<%= link_to 'register', new_user_path %> | 
		<%= link_to 'login', '/login' %>
	<% end %></p>
  <div id="header">
    
    <div id="topnav">
      <ul>
		<% if controller.action_name == "join" %>
	      <li class="active last"><a href="/join">become a knight</a></li>
		<% else %>
	    <li class="last"><a href="/join">become a knight</a></li>
		<% end %>
		
		<% if @current_user && @current_user.member %>
			<% if controller.controller_name == "users" %>
		      <li class="active"><a href="/users">knights</a></li>
			<% else %>
		    <li><a href="/users">knights</a></li>
			<% end %>
		<% end %>		

		<% if controller.controller_name == "calendar" || controller.action_name == "calendar" %>
	      <li class="active"><a href="/calendar">calendar</a></li>
		<% else %>
	    <li><a href="/calendar">calendar</a></li>
		<% end %>

		<% if controller.controller_name == "posts" || controller.action_name == "news" %>
	      <li class="active"><a href="/news">news</a></li>
		<% else %>
	    <li><a href="/news">news</a></li>
		<% end %>

		<% if controller.action_name == "about" %>
	      <li class="active"><a href="/about">about</a></li>
		<% else %>
	    <li><a href="/about">about</a></li>
		<% end %>

		<% if controller.controller_name == "pages" && controller.action_name == "index" %>
	      <li class="active"><a href="/">Home</a></li>
		<% else %>
	    <li><a href="/">Home</a></li>
		<% end %>

      </ul>
    </div>
    <div id="logo">
      <h1><a href="/"><%=image_tag "/images/vivatjesus.png", :width => "50"%> Vivat Jesus!</a></h1>
      <center><p><%=@council.councilname%></p></center>
    </div>
    <br class="clear" />
  </div>
</div>
<div class="wrapper col2">
  <div id="intro">
    <div class="fl_left">
      <h1><%=@council.councilname%></h1>
      <p><%=@council.about%>
	 <a href="/about">Discover More About Us &raquo;</a></p>
    </div>
    <div class="fl_right">
      <ul>
        <li><a href="<%=@council.facebookurl%>"><%=image_tag "/images/facebook.png", :width => "130"%></a></li>
        <li><a href="<%=@council.linkedinurl%>"><%=image_tag "/images/linkedin.png", :width => "130"%></a></li>
        <li><a href="<%=@council.twitterurl%>"><%=image_tag "/images/twitter1.png", :width => "130"%></a></li>
        <!-- <li class="last"><a href="/posts/rss"><%=image_tag "/images/rss.gif"%></a></li> -->
        <li class="last"><a href="<%=@council.mobileurl%>"><%=image_tag "/images/mobile.png", :width => "130"%></a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<div class="wrapper col3">
  <div id="latest">
	<% if false #@post %>
	<h1><%= gravatar_image_tag @post.user.email, :class => "gravatar", :width => "25" %> <a href="/posts/<%= @post.id.to_s rescue ""%>"><%= @post.postname rescue ""%></a> (<%= link_to "more news...", "/posts"%> )<br/>
		</h1>
		<p>
		<%= raw(@post.postbody) rescue ""%>
		</p><br/><br/>
	<a href="http://twitter.com/share?text=<%= @post.postname rescue ""%>&amp;url=http://vivatjes.us/posts/<%=@post.id%>" class="twitter-share-button">Tweet</a>
		
	<!-- Place this tag where you want the +1 button to render -->
	<g:plusone href="http://vivatjes.us/posts/<%=@post.id%>"></g:plusone>

	<!--  Place this tag after the last plusone tag -->
	<script type="text/javascript">
	  (function() {
	    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	    po.src = 'https://apis.google.com/js/plusone.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
		
	<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=151901608223813&amp;xfbml=1"></script><fb:like href="http://vivatjes.us/posts/<%=@post.id%>" send="true" width="450" show_faces="true" font=""></fb:like>
	<% end %>
    <br class="clear" />
  </div>
</div>
<div class="wrapper col5">
  <div id="footer">
    <div id="contactform">
      <h2>Contact Us Today !</h2>
		<%= form_tag :controller=>"pages", :action=>"contact" do -%>
      <fieldset>
      <legend>Contact Form</legend>
      <label for="fullname">Name:
      <%= text_field("contact", "fullname") -%>
      </label>
      <label for="emailaddress" class="margin">Email:
      <%= text_field("contact", "emailaddress") -%>
      </label>
      <label for="message">Message:<br />
      <%= text_area("contact", "message", {"cols"=>"40", "rows"=>"4"}) -%>
      </label>
      </fieldset>
		<% math1 = 1 + rand(10) %>
		<% math2 = 1 + rand(10) %>
		<% mathanswer = math1 + math2 %>
      <label for="message">Are you human?<br/>What's <%=math1%> + <%=math2%>?
      <%= text_field("contact", "answer") -%></label>
      <%= hidden_field("contact", "mathanswer", :value => mathanswer) -%><br/>
      <p>
        <%= submit_tag "Send" -%></p>
		<% end -%>
    </div>
    <div class="fl_right">
      <div class="footbox">
        <h2>Our Founder</h2>
        <ul>
          <li>
			Thanks to the efforts of Father Michael J. McGivney, assistant pastor of St. Mary’s Church in New Haven and some of his parishioners, the Connecticut state legislature on March 29, 1882, officially chartered the Knights of Columbus as a fraternal benefit society. The Order is still true to its founding principles of charity, unity and fraternity.
			<br/><br/>
			The Knights was formed to render financial aid to members and their families. 
          </li>
        </ul>
      </div>
      <div class="footbox">
        <h2>Our Order</h2>
        <ul>
          <li>
          	The history of the Order shows how the foresight of Father Michael J. McGivney, whose cause for sainthood is being investigated by the Vatican, brought about what has become the world's foremost Catholic fraternal benefit society. The Order has helped families obtain economic security and stability through its life insurance, annuity and long-term care programs, and has contributed time and energy worldwide to service in communities.
          </li>
        </ul>
      </div>
      <div class="footbox last">
        <h2>Our Presence</h2>
        <ul>
          <li>
          	The Knights of Columbus has grown from several members in one council to more than 14,000 councils and 1.8 million members throughout the United States, Canada, the Philippines, Mexico, Poland, the Dominican Republic, Puerto Rico, Panama, the Bahamas, the Virgin Islands, Cuba, Guatemala, Guam and Saipan.
          </li>
        </ul>
      </div>
      <!-- <div id="newsletter">
        <p>Enter your email to join our mailing list &raquo;</p>
		<%= form_tag("/pages/contact", :metod => "post") do %>
          <fieldset>
          <legend>News Letter</legend>
			<%= text_field_tag "newsletteremail" %>
			<%= submit_tag "Go", :id => "news_go", :name => "news_go" %>
          </fieldset>
		<% end %>
        <br class="clear" />
      </div> -->
    </div>
    <br class="clear" />
  </div>
</div>
<div class="wrapper col6">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2011 - All Rights Reserved - <a href="/">KofC 10062</a></p>
    <p class="fl_right"></p>
    <br class="clear" />
  </div>
</div>
</body>
</html>

