<div class="hero-unit">
<div class="row-fluid">
	<!img src="/images/k_of_c_logo300.png" width="300" align="right">
	<%= image_tag("k_of_c_logo300.png", :align=>"right", :width=>"200")%>
		
	<h2><%=@council.councilname%></h2><br />
  	<div class="span8">
	    <p><%=@council.about%></p><br /><br />
	  	<p><a class="btn btn-primary btn-large" href="/about">Learn more &raquo;</a>&nbsp;<a class="btn btn-primary btn-large" href="/users/new">Register &raquo;</a></p>
	</div>		
		<p class="pull-right">
		<% if !@council.facebookurl.blank? %>
			<a href="<%=@council.facebookurl%>" target="_new"><%=image_tag "facebook.png", :width => "50"%></a>
		<% end %>
		<% if !@council.linkedinurl.blank? %>
			<a href="<%=@council.linkedinurl%> target="_new""><%=image_tag "linkedin.png", :width => "50"%></a>
		<% end %>
		<% if !@council.twitterurl.blank? %>
			<a href="<%=@council.twitterurl%>" target="_new"><%=image_tag "twitter1.png", :width => "50"%></a>
		<% end %>
		<% if !@council.mobileurl.blank? %>
        	<a href="<%=@council.mobileurl%>" target="_new"><%=image_tag "mobile.png", :width => "50"%></a>
		<% end %>
        <!-- <li class="last"><a href="/posts/rss"><%=image_tag "rss.gif"%></a></li> -->
      </p>
</div>
</div>


<!-- close hero div and open generic div -->
	
<% if @post %>
<div class="hero-unit"> 
<h2>
<p class="well">
<%# gravatar_image_tag @post.user.email, :class => "gravatar", :width => "25" %> 
<img src="http://avatars.io/auto/<%=@post.user.username%>" width="25" height="25">
<a href="/posts/<%= @post.id.to_s rescue ""%>"><%= @post.postname rescue ""%></a> 
</p>
</h2>

<p>
<%= raw(@post.postbody) rescue ""%>
</p>
<a href="http://twitter.com/share?text=<%= @post.postname rescue ""%>&amp;url=http://vivatjes.us/posts/<%=@post.id%>" class="twitter-share-button">Tweet</a>
	
<!-- Place this tag where you want the +1 button to render -->
<g:plusone href="http://vivatjes.us/posts/<%=@post.id%>"></g:plusone>

<!--  Place this tag after the last plusone tag -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
	
<br />	
<div class="fb-like" data-href="http://vivatjes.us/posts/<%=@post.id%>" data-send="false" data-width="450" data-show-faces="true"></div>

</div>
	
<% end %>
<br class="clear" />



