<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :council_id, :value => @council.id %>

  <div>
    <%= f.text_field :postname, :class=>"input-xxlarge", :placeholder=>"title", :autofocus => true %>
  </div>
  <div>
    <%= f.text_area :postbody, :class=>"input-xxlarge tinymce" %>
	<%= tinymce %>
  </div>
  <div class="field"><br />
    <%= f.check_box :privateflag %>
    <%= f.label "Requires user to be logged in to read this post." %><br />
  </div>
  <div>
    <p><%= f.submit "Submit", :class=>"btn  btn-primary btn-large" %></p>
  </div>
<% end %>
