<%= link_to image_tag("/images/rss2.jpeg", :width => "25", :align => "right"), "/posts/rss" %>

<% for post in @posts %>

	<% if post.privateflag != true or (post.privateflag == true and @current_user) %>
	
		<h2 class="title"><%= gravatar_image_tag post.user.email, :class => "gravatar", :width => "25" rescue ""%> <a href="/posts/<%=post.id%>"><%= post.postname %></a> <small>Posted by <%= link_to post.user.username.capitalize, user_path(post.user.id) rescue ""%> on  <%= post.created_at.strftime("%A %B %d, %Y") %></small><br/>
			</h2>

	    <p><%= raw(post.postbody) %></p>

		<a href="http://twitter.com/share?text=<%= post.postname rescue ""%>&amp;url=http://vivatjes.us/posts/<%=post.id%>" class="twitter-share-button">Tweet</a>
	
		<!-- Place this tag where you want the +1 button to render -->
		<g:plusone href="http://vivatjes.us/posts/<%=post.id%>"></g:plusone>

		<!--  Place this tag after the last plusone tag -->
		<script type="text/javascript">
		  (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
		
		<br />
		<div class="fb-like" data-href="http://vivatjes.us/posts/<%=post.id%>" data-send="false" data-width="450" data-show-faces="true"></div>
	
	    <% if @current_user && @current_user.publisher %>
	      <p><%= link_to 'Edit*', :action => 'edit', :id => post %> | <%= link_to 'Destroy*', { :action => 'destroy', :id => post }, :confirm => 'Are you sure?', :method => :post %></p>
	    <% end %>
		
		<br class="clear" />

	<% end %>
<% end %>

<%= will_paginate @posts %>

<% if @current_user && @current_user.publisher %>
  <%= link_to 'New post*', :action => 'new' %>
<% end %>



