<% for post in @posts %>

	<h2 class="title"><a href="/posts/<%=post.id%>"><%= post.postname %></a> <small>Posted by <%=post.user.username.capitalize rescue ""%> on  <%= post.created_at.strftime("%A %B %d, %Y") %></small><br/>
		<a href="http://twitter.com/share?text=<%= post.postname rescue ""%>&amp;url=http://vivatjes.us/posts/<%=post.id%>" class="twitter-share-button">Tweet</a>
		<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=151901608223813&amp;xfbml=1"></script><fb:like href="http://vivatjes.us/posts/<%=post.id%>" send="true" width="450" show_faces="true" font=""></fb:like>
		</h2>

    <p><%= raw(post.postbody) %></p>

    <% if @current_user && @current_user.admin %>
      <p><%= link_to 'Edit', :action => 'edit', :id => post %> | <%= link_to 'Destroy', { :action => 'destroy', :id => post }, :confirm => 'Are you sure?', :method => :post %></p>
    <% end %>
		
<br class="clear" />
<% end %>

<%= will_paginate @posts %>

<br />

<% if @current_user && @current_user.admin %>
  <%= link_to 'New post', :action => 'new' %>
<% end %>



